*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: lightgrey;
}

img {
    max-width: 100%;
}

.nav--logo {
    width: 30%;
}

.nav--bar {
    min-height: 70px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: auto;
}

.nav--menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: fixed;
    right: -100%;
    top: 50px;
    flex-direction: column;
    gap: 0;
    width: 50%;
    height: 60%;
    text-align: center;
    transition: 0.3s;
}

.nav--menu.active {
    right: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    z-index: 3;
    background-color: lightblue;
}

.list--item {
    list-style: none;
    cursor: pointer;
    margin: 16px 0;
}

.list--item:hover {
    color: green;
}

.link {
    text-decoration: none;
}

.home {
    border-bottom: 1px solid green;
    color: green;
}

.hamburger--menu {
    cursor: pointer;
    display: block;
}

.bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}

.hamburger--menu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger--menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger--menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}